.container{
    height: 100vh;
    width: 100%;
    padding: 0;
}

/* ----------------------------------------- PART1 1  ------------------------------------------------------- */
.part1{
    background-color: white;
    height: 100vh;
    padding-top: 1%;
}

.menu{
    height: 98%;
    width: 90%;
    background-color: #F3553A;
    border-radius: 25px;
}

.menu p{
    position: relative;
    top: 3%;
    margin-left: 20%;
    font-size: 18px;
    font-family: Segoe Script;
    color: black;
    font-weight: 900;
}

.img1{
    height: 10%;
    width: 100%;
    margin-left: 0px;
    position: relative;
    top: 15%;
    left: 27%;
    background-color: white;
    border-radius: 27px;
}

.img1 img{
    height: 80%;
    width: 90%;
    padding-left: 15%;
    padding-top: 10%;
}

.img2{
    height: 6%;
    width: 70%;
    margin-left: 18%;
    position: relative;
    top: 30%;
}

.img2 img{
    height: 90%;
    width: 90%;
}

.img3{
    height: 6%;
    width: 70%;
    margin-left: 18%;
    position: relative;
    top: 45%;
}

.img3 img{
    height: 90%;
    width: 90%;
}

.img4{
    height: 6%;
    width: 70%;
    margin-left: 18%;
    position: relative;
    top: 60%;
}

.img4 img{
    height: 90%;
    width: 90%;
}


/* ----------------------------------------- PART1 2  ------------------------------------------------------- */
.part2{
    background-color: red;
    height: 100vh;
}

.intro{
    height: 30%;
    background-color: white;
    padding-left: 5%;
    padding-top: 2%;
    /* padding-bottom: 1%; */
}

.cadre{
    width: 60%;
    height: 80%;
    background-color: #F1ECE9;
    padding-left: 2%;
    padding-top: 1%;
    border-radius: 33px;
}

.cadre h1{
    padding-left: 2%;
    font-weight: 700;
    font-size: 40px;
    font-family: Segoe Script;
}

.cadre p{
    padding-top: 3%;
    padding-left: 10%;
    font-size: 19px;
    font-family: Segoe Script;
}


.msg1{
    height: 30%;
    background-color: white;
    /* padding-top: 2%; */
    padding-left: 3%;
}

.input{
    display:inline-block;
    height: 90%;
    width: 80%;
    resize: none;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid black;
    font-size: 18px;
    border-radius: 10px;
}

.exg{
    height: 10%;
    background-color: white
}

.exg_img{
    position: relative;
    top: 0%;
    left: 38%;
    height: 90%;
    width: 6%;
    background-color: white;
}

.exg_img img{
    height: 100%;
    width: 100%;
}

.msg2{
    height: 30%;
    background-color: white;
    /* padding-top: 2%; */
    padding-left: 3%;
}

.txt_cadre{
    border: 1px solid black;
    height: 90%;
    width: 80%;
    resize: none;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    font-size: 18px;
}



/* ----------------------------------------- PART1 3  ------------------------------------------------------- */
.part3{
    background-color: yellow;
    height: 100vh;
}





